<a href="https://colab.research.google.com/github/csmsum/ml4ai/blob/main/Course%20Data/sep22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Bring the Data 'earthquakes.csv'

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02/data/earthquakes.csv")
df.head(3)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...

# find 3:10 rows with columns ['mag', 'magType', 'type']

In [4]:
df.loc[3:10, ['mag', 'magType', 'type']]

     mag magType        type
3   0.44      ml  earthquake
4   2.16      md  earthquake
5   2.61      md  earthquake
6   1.70      ml  earthquake
7   1.13      md  earthquake
8   0.92      md  earthquake
9   4.70      mb  earthquake
10  0.50      ml  earthquake

#Find columns that includes 'Arizona'

In [5]:
df.loc[df.place.str.contains('Arizona'),:]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
1062,NaN,NaN,60300227,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.1666,NaN,163.0,",uu60300227,",1.23,ml,...,",uu,",reviewed,1539133978610,"M 1.2 - 7km SSW of Colorado City, Arizona",0,earthquake,",geoserve,origin,phase-data,",-420.0,1539196068710,https://earthquake.usgs.gov/earthquakes/eventp...
3965,NaN,NaN,60298572,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.1577,NaN,211.0,",uu60298572,",0.94,md,...,",uu,",reviewed,1538383710020,"M 0.9 - 7km WSW of Colorado City, Arizona",0,earthquake,",geoserve,origin,phase-data,",-420.0,1538516934720,https://earthquake.usgs.gov/earthquakes/eventp...

# 10 largest data.

In [6]:
df.mag.sort_values(ascending = False)[:10]

5263    7.5
837     7.0
4363    6.7
118     6.7
799     6.5
816     6.2
838     6.1
5323    6.1
9211    6.0
862     6.0
Name: mag, dtype: float64

# pop 'mag', 'magType' and concatenate them into a new variable (with axis 1)

In [7]:
mag = df.pop('mag')
magType = df.pop('magType')

In [8]:
sum = pd.concat([mag, magType], axis = 1)
sum

       mag magType
0     1.35      ml
1     1.29      ml
2     3.42      ml
3     0.44      ml
4     2.16      md
...    ...     ...
9327  0.62      md
9328  1.00      ml
9329  2.40      md
9330  1.10      ml
9331  0.66      ml

[9332 rows x 2 columns]

### drop is different from pop in that it deletes rows in default and pop deletes columns in default. (you can delete columns with the following parameter: columns = ['mag', 'magType'].
Also, note that drop returns the rest dataframe while pop returns the deleted column series

In [9]:
df.drop(columns = ['place'], inplace = True)

In [10]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mmi',
       'net', 'nst', 'rms', 'sig', 'sources', 'status', 'time', 'title',
       'tsunami', 'type', 'types', 'tz', 'updated', 'url'],
      dtype='object')